{% extends '_global/layout/base.html' %}

{% block title %}{{ unit.acronym }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row mb-4">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:extraction_unit_list' %}">Unidades</a></li>
                    <li class="breadcrumb-item active">{{ unit.acronym }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="mb-0"><i class="fas fa-home me-2"></i>{{ unit.acronym }}</h4>
                    <div>
                        <a href="{% url 'core:extraction_unit_edit' unit.pk %}" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit me-1"></i>Editar
                        </a>
                        <a href="{% url 'core:extraction_unit_delete' unit.pk %}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash me-1"></i>Excluir
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="mb-3">Informações Básicas</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Nome:</dt>
                        <dd class="col-sm-8">{{ unit.name }}</dd>

                        <dt class="col-sm-4">Sigla:</dt>
                        <dd class="col-sm-8">{{ unit.acronym }}</dd>

                        <dt class="col-sm-4">Agência:</dt>
                        <dd class="col-sm-8">{{ unit.agency.acronym }} - {{ unit.agency.name }}</dd>
                    </dl>

                    <hr class="my-4">
                    <h5 class="mb-3">Contatos</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Telefone Principal:</dt>
                        <dd class="col-sm-8">{{ unit.primary_phone|default:"-" }}</dd>

                        <dt class="col-sm-4">Telefone Secundário:</dt>
                        <dd class="col-sm-8">{{ unit.secondary_phone|default:"-" }}</dd>

                        <dt class="col-sm-4">E-mail Principal:</dt>
                        <dd class="col-sm-8">{{ unit.primary_email|default:"-" }}</dd>

                        <dt class="col-sm-4">E-mail Secundário:</dt>
                        <dd class="col-sm-8">{{ unit.secondary_email|default:"-" }}</dd>
                    </dl>

                    {% if unit.address_line1 %}
                        <hr class="my-4">
                        <h5 class="mb-3">Endereço</h5>
                        <p>
                            {{ unit.address_line1 }}{% if unit.address_number %}, {{ unit.address_number }}{% endif %}<br>
                            {% if unit.address_line2 %}{{ unit.address_line2 }}<br>{% endif %}
                            {% if unit.neighborhood %}{{ unit.neighborhood }}<br>{% endif %}
                            {{ unit.city_name|default:"-" }} - {{ unit.state_name|default:"-" }}<br>
                            CEP: {{ unit.postal_code|default:"-" }}
                        </p>
                    {% endif %}

                    {% if unit.incharge_name %}
                        <hr class="my-4">
                        <h5 class="mb-3">Responsável</h5>
                        <dl class="row">
                            <dt class="col-sm-4">Nome:</dt>
                            <dd class="col-sm-8">{{ unit.incharge_name }}</dd>

                            <dt class="col-sm-4">Cargo:</dt>
                            <dd class="col-sm-8">{{ unit.incharge_position|default:"-" }}</dd>
                        </dl>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
